/*App*/
.app-container {
  max-width: 960px;
}

.card-columns {
  column-count: 2;
}

/*Loading Spinner*/

.loading {
  position: fixed;
  z-index: 999;
  height: 10em;
  width: 10em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*Shadows*/

/*New Location Form*/

.location-form {
  max-width: 500px;
  margin: auto;
}

/*Nabar*/

/*Locations Container*/

/*Location Card*/

.card-icon {
  padding: 7px;
}

.card-link {
  text-decoration: none;
  color: white;
}

.card-link:hover {
  text-decoration: none;
  color: white;
}

.location-card-body {
  position: relative;
}

.location-card-body:hover {
  -webkit-box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
  box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
}

.time-update {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/*Footer*/

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 5px;
  width: 100%;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

/*UserSettings*/

/*UserLoginForm*/

.login-header {
  font-size: 6em;
  padding: 20px;
  margin: 20px;
}

.login-form {
  max-width: 500px;
  margin: auto;
}

/*Featured Location Container & Header & Details*/

.light-shadow {
  -webkit-box-shadow: 2px 2px 8px 0px rgba(44, 62, 80, 1);
  -moz-box-shadow: 2px 2px 8px 0px rgba(44, 62, 80, 1);
  box-shadow: 2px 2px 8px 0px rgba(44, 62, 80, 1);
}

.featured-nav {
  font-size: 1.5em;
}

.featured-location-header {
  font-size: 3.5em;
}

.featured-location-summary {
  font-size: 1.5em;
}

.featured-detail-text {
  font-size: 1.1em;
}

.detail-icon {
  font-size: 32px;
}

/*Featured Location Mobile*/

.summary-icon-mobile {
  font-size: 2em;
  margin: auto;
}

.detail-text-mobile {
  font-size: 0.8em;
}

/*Featured Location Desktop*/

.day-card-temp {
  font-size: 1.6em;
}

/*Advanced Views*/

.custom-tooltip {
  background-color: #34495e;
  padding: 1px;
}

.chart-container {
  min-width: 200px;
  min-height: 200px;
}

/*
Media Queries
*/

@media (max-width: 630px) {
  .card-columns {
    column-count: 1;
  }
}

@media (max-width: 576px) {
  .featured-location-header {
    font-size: 10vw;
  }

  .featured-detail-text {
    font-size: 3.5vw;
  }

  .login-header {
    font-size: 12vw;
  }
}
