/*App*/
.app-container {
  max-width: 960px;
}

.card-columns {
  column-count: 2;
}

/*Loading Spinner*/

.loading {
  position: fixed;
  z-index: 999;
  height: 10em;
  width: 10em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*Shadows*/

/*Shadows*/

.about-bullet {
  width: 40px;
}

/*New Location Form*/

.location-form {
  max-width: 500px;
  margin: auto;
}

/*Nabar*/
.navbar-logo {
  height: 40px;
}

/*Locations Container*/

/*Location Card*/

.location-cards-appear {
  opacity: 0;
}

.location-cards-appear.location-cards-appear-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.location-cards-enter {
  opacity: 0;
}

.location-cards-enter.location-cards-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.location-cards-leave {
  opacity: 1;
}

.location-cards-leave.location-cards-leave-active {
  opacity: 0;
  transition: 400ms ease-in;
}

.card-icon {
  height: 100px;
}

.card-link {
  text-decoration: none;
  color: white;
}

.card-link:hover {
  text-decoration: none;
  color: white;
}

.location-card {
  position: relative;
  transition-duration: 250ms;
}

.location-card:hover {
  -webkit-box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
  box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
}

.time-update {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/*Footer*/

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 5px;
  width: 100%;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

/*UserSettings*/

/*UserLoginForm*/

.login-logo {
  height: 200px;
}

.login-header {
  font-size: 5em;
  margin: 20px;
}

.login-form {
  max-width: 500px;
  margin: auto;
}

/*Featured Location Container & Header & Details*/

.featured-head-appear {
  opacity: 0;
}

.featured-head-appear.featured-head-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.light-shadow {
  -webkit-box-shadow: 2px 2px 8px 0px rgba(44, 62, 80, 1);
  -moz-box-shadow: 2px 2px 8px 0px rgba(44, 62, 80, 1);
  box-shadow: 2px 2px 8px 0px rgba(44, 62, 80, 1);
}

.featured-icon {
  width: 150px;
}

.featured-nav {
  font-size: 1.5em;
}

.featured-location-name {
  font-size: 2.5em;
}

.featured-location-summary {
  font-size: 1.5em;
}

.featured-detail-text {
  font-size: 1.1em;
}

.detail-icon {
  font-size: 32px;
  transition: 1s;
}

.carousel-enter {
  height: 0;
  opacity: 0;
  transform: translateX(-100%);
}

.carousel-enter.carousel-enter-active {
  opacity: 1;
  height: 100%;
  transform: translateX(0);
  transition: all 1000ms ease-in-out 300ms;
}

.carousel-leave {
  height: 100%;
  opacity: 1;
}

.carousel-leave.carousel-leave-active {
  opacity: 0;
  transition: all 300ms ease;
}

/*Featured Location Mobile*/

.summary-icon-mobile {
  font-size: 2em;
  margin: auto;
}

.detail-text-mobile {
  font-size: 0.7em;
}

/*Featured Location Desktop*/

.day-card-temp {
  font-size: 1.6em;
}

.hour-card-temp-details {
  font-size: 1.6em;
}

/*Advanced Views*/

.custom-tooltip {
  background-color: #34495e;
  padding: 1px;
}

.chart-container {
  min-width: 200px;
  min-height: 200px;
}

/*
Media Queries
*/

@media (min-width: 1000px) {
  .featured-location-summary {
    margin-top: -2vw;
  }

  .location-header-row {
    margin-top: -1vw;
  }
}

@media (max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}

@media (max-width: 576px) {
  .featured-location-name {
    font-size: 8vw;
  }

  .featured-location-summary {
    font-size: 5vw;
  }

  .featured-details {
    line-height: 6vw;
  }

  .login-logo {
    height: 30vw;
  }

  .featured-icon {
    width: 23vw;
  }

  .featured-detail-text {
    font-size: 3vw;
  }

  .login-header {
    font-size: 12vw;
  }
}
