/** {
  border: 0.1px solid red;
}*/

footer {
  padding-top: 50px;
}

footer a {
  text-decoration: none;
  color: white;
}

.login-form {
  max-width: 500px;
  margin: auto;
}

.location-form {
  max-width: 500px;
  margin: auto;
}

.card-columns {
  column-count: 2;
}

.location-card-body {
  position: relative;
}

.location-card-body:hover {
  -webkit-box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
  -moz-box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
  box-shadow: 10px 10px 10px 0px rgba(35, 40, 43, 1);
}

.skycon-div {
  position: absolute;
  opacity: 0.1;
  width: 60%;
  height: 60%;
  right: 0px;
  top: 40px;
}

.card-icon {
  padding: 7px;
}

.card-link {
  text-decoration: none;
  color: white;
}

.card-link:hover {
  text-decoration: none;
  color: white;
}

.time-update {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.login-header {
  font-size: 6em;
  padding: 20px;
  margin: 20px;
}

.search-result:hover {
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(2, 104, 117, 1);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(2, 104, 117, 1);
  box-shadow: inset 0px 0px 1px 1px rgba(2, 104, 117, 1);
}

/*Featured Location*/

.featured-location-header {
  font-size: 3.5em;
}

.featured-location-summary {
  font-size: 1.5em;
}

.daily-summary-text {
  font-size: 0.8em;
}

.daily-summary-icon {
  font-size: 2em;
  margin: auto;
}

.extra-info {
  font-size: 0.8em;
}

.detail-icon {
  font-size: 32px;
}

.detail-text {
  font-size: 1em;
}

.featured-detail-text {
  font-size: 1.1em;
}

.main-featured-details {
  font-size: 1.5em;
}

.app-container {
  max-width: 960px;
}

.featured-nav {
  font-size: 1.2em;
}

.desk-hour-detail-temp {
  font-size: 1.6em;
}

@media (max-width: 630px) {
  .card-columns {
    column-count: 1;
  }
}

@media (max-width: 576px) {
  .featured-location-header {
    font-size: 10vw;
  }

  .main-featured-details {
    font-size: 4vw;
  }

  .featured-detail-text {
    font-size: 3.5vw;
  }

  .detail-text {
    font-size: 2.5vw;
  }

  .login-header {
    font-size: 12vw;
  }
}
