/** {
  border: 0.1px solid red;
}*/

.login-form {
  max-width: 500px;
  margin: auto;
}

.location-form {
  max-width: 500px;
  margin: auto;
}

.card-columns {
  column-count: 2;
}

.location-card-body {
  position: relative;
}

.skycon-div {
  position: absolute;
  opacity: 0.1;
  width: 60%;
  height: 60%;
  right: 0px;
  top: 40px;
}

.card-icon {
  padding: 7px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.time-update {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/*Featured Location*/

.featured-location-header {
  font-size: 3.5em;
}

.daily-summary-text {
  font-size: 0.8em;
}

.daily-summary-icon {
  font-size: 2em;
  margin: auto;
}

.extra-info {
  font-size: 0.8em;
}

.detail-icon {
  font-size: 2em;
}

.detail-text {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}

@media (max-width: 576px) {
  .featured-location-header {
    font-size: 10vw;
  }
}
